.pagination {
  /*

  .v-pagination__navigation,
  .v-pagination__item:not(.v-pagination__item--active) {
    box-shadow: none;
    border: 1px solid $gray-300;
    color: black !important;

    &:hover {
      background-color: $gray-300;
    }
  }

  .v-pagination__navigation,
  .v-pagination__item {
    outline: none;
    color: black !important;
  }

  .v-pagination__navigation i {
    color: black !important;
  }

  .v-pagination__item--active {
    box-shadow: $btn-shadow-hover;
    color: black !important;
  }*/
}